/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * BattleForMoscow implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * battleformoscow.css
 *
 * BattleForMoscow stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (battleformoscow_battleformoscow.tpl), and to HTML elements you create dynamically
    (in battleformoscow.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

#game_map {
   width: 814px;
   height: 688px;
   background-image: url('img/game_map_second_source_cropped.png');
}

.unit {
    /* WAS: width: 44px; */
    width: 44px;
    /* WAS: height: 45px; */
    height: 45px;
    background-image: url('img/units_initial_exported.png');
    background-size: 557px 325px;
    background-repeat: no-repeat;
    position: absolute;
}

/* Units
 *
 * The formula for grabbing a unit from a particular 0-based column is: X = -(C × 46 + 2)
 *
 * Examples:
 *     X for column 0 => -(0 x 46 + 2) = -2px
 *     X for column 1 => -(1 x 46 + 2) = -48px
 *     X for column 6 => -(6 × 46 + 2) = -278 px, but -280px (a smidge rightward) looks better
 *     X for column 9 => -(9 x 46 + 2) = -416px


/* First Soviet unit, full strength */
/* changing -186px to -185px causes a black horizontal line at the top of the unit and cuts off 1 pixel from the bottom of the unit image (moves the window to include the black border at the top */
/* .unit.soviet-infantry {
    background-position: -2px -186px;
} */
/* .unit.soviet-infantry {
    background-position: -48px -186px;
} */

/* 0-based Column 6: -(6 × 46 + 2) = -278 px, but -290px (a smidge rightward) looks better */
.unit.soviet-infantry {
    background-position: -280px -186px;
}
/* WAS: background-position: -280px -187px; */
